.clock-widgit{
    font-family: "Orbitron";
    
    background-color: orange;
    border: 2px solid black;
    justify-content: space-between;
    padding: 10px;
}
.clock-date{
    display: flex;
    justify-content: space-between;
}
.clock-time{
    display: flex;
    justify-content: space-between;
}
.clock-header{
    font-family: "Open Sans";
}
ul.clock-widgit li{
    list-style: none;
    display: flex;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
}

#tabs-div {
    border: 2px solid black;
}
#tabs-header {
    display:flex;
}

#tabs-header li{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100px;
    margin-bottom: 0;
}
#tabs-header li, #tabs-article {
    background: cyan;
}

#tabs-article p {
    margin: 0;
}

.hidden{
    display: none;
}
.appear{
    display: flex;
}